.praisemain {
  font-size: 12px;
  margin-top: 10px;
  padding: 10px;
  position: relative;
}
.praisemain .praise_mainbox {
  overflow: auto;
}
.praisemain .praise_name {
  float: left;
  color: #2d7bcd;
  margin-right: 10px;
}
.praisemain .praise_main {
  float: left;
  color: #333;
}
.praisemain .praise_bottom {
  text-align: right;
}
.praisemain .praise_bottom .c_over {
  color: #00cd00;
}
.praisemain .praise_bottom .c_ing {
  color: #ff0000;
}
.praisemain a {
  color: #2d7bcd;
}
.praisemain .c_more,
.praisemain .c_hidden {
  margin-left: 10px;
}
