.menu-icon,
.consult-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(img/menu_icon.png) no-repeat;
  vertical-align: middle;
}
.icon-block {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(img/menu_icon.png) no-repeat;
  vertical-align: middle;
  background-position: -50px -40px;
}
.icon-block:hover,
.icon-block.current {
  background-position: -50px -10px;
}
.icon-list {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(img/menu_icon.png) no-repeat;
  vertical-align: middle;
  background-position: -80px -10px;
}
.icon-list:hover,
.icon-list.current {
  background-position: -80px -40px;
}
.iface {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(img/menu_icon.png) no-repeat;
  vertical-align: middle;
  background-position: -10px -10px;
}
.iphone {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(img/menu_icon.png) no-repeat;
  vertical-align: middle;
  background-position: -10px -40px;
}
.ionline {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(img/menu_icon.png) no-repeat;
  vertical-align: middle;
  background-position: -10px -70px;
}
.iim {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(img/menu_icon.png) no-repeat;
  vertical-align: middle;
  background-position: -50px -70px;
}
.imenu {
  width: 32px;
  height: 32px;
  background-position: -10px -120px;
}
