@charset "utf-8";
.context .cfees {
  color: #F98;
}
.context a {
  color: #2d7bcd;
  margin-left: 10px;
}
.pre_table {
  position: relative;
  line-height: 20px;
  overflow: hidden;
}
tr,
td,
th {
  padding: 10px 0;
  font-weight: lighter;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #c8c8c8;
}
.pre_table tr td {
  width: 100px;
  cursor: pointer;
}
.pre_table i {
  font-style: normal;
}
tr th:nth-last-child(2n-1) {
  background: #f0f0f0;
}
tr td:nth-last-child(2n-1) {
  background: #f0f0f0;
}
.pre_table tr td.current {
  background: #2d7bcd;
  color: #fff;
}
.consult-btn {
  height: 20px;
  padding: 5px 10px;
  background: #2d7bcd;
  color: #fff;
  text-decoration: none;
  border: none;
}
.pre_table tr th {
  position: relative;
  border-bottom: none;
}
.pre_table tr th:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -1px;
  width: 0px;
  height: 9999px;
  border-left: 1px solid #c8c8c8;
}
.pre_table tr th:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 9999px;
  height: 0;
  border-bottom: 1px solid #c8c8c8;
}
.pre_table tr td {
  position: relative;
}
.pre_table tr td .layer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  /* 			line-height: 100%;
text-decoration: none;
text-align: center;
color: #fff; */
}
.pre_table tr td .layer span {
  height: 20px;
  padding: 5px 10px;
  background: #2d7bcd;
  color: #fff;
  text-decoration: none;
  border: none;
  position: relative;
  top: 50px;
  margin: 0;
  background: transparent;
}
.pre_table tr td:hover .layer {
  display: block;
}
.pre_table tr td:after {
  content: "";
  position: absolute;
  top: -100px;
  right: 0px;
  width: 0px;
  height: 9999px;
  border-left: 1px solid #c8c8c8;
}
.pre_table tr td:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 9999px;
  height: 0;
  border-bottom: 1px solid #c8c8c8;
}
.addrlist {
  line-height: 24px;
}
