@charset "utf-8";
body {
  padding-top: 57px;
  width: 1002px;
}
.top .logoBar {
  margin-top: 0;
}
.top .pure-u-1-2:nth-child(1) {
  margin-top: 3.5px;
}
.block {
  display: block;
  background-color: #fff;
  padding: 0;
}
.userdiv {
  display: block;
  background: #fff;
  border: 1px solid #dcdcdc;
  color: #666;
}
.userdiv .title {
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
.userdiv .context {
  font-size: 12px;
  padding-left: .5em;
}
.userdiv .context a {
  color: #2d7bcd;
}
.container {
  width: 1002px;
  margin: auto;
  font-size: 14px;
  font-family: 'SimSun';
}
.headerbg {
  width: 1002px;
  height: 380px;
  background: url(../images/2.jpg);
  margin-top: 10px;
}
.headerbg .header {
  position: relative;
  width: 962px;
  height: 340px;
  background: url(img/bgg.png);
  padding: 20px;
  color: #fff;
}
.headerbg .header .usertopnav {
  position: absolute;
  left: 20px;
  top: 20px;
}
.headerbg .header .useredit {
  position: absolute;
  right: 20px;
  top: 20px;
}
.headerbg .header .userinfo .avatar {
  width: 140px;
  height: 140px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  margin: 100px auto 0;
}
.headerbg .header .userinfo .userinfomain {
  text-align: center;
}
.headerbg .header .userinfo .userinfomain p:nth-child(1) {
  font-size: 14px;
  font-family: 'SimSun';
  font-weight: bold;
  margin-top: 10px;
}
.headerbg .header .userinfo .userinfomain p:nth-child(3) {
  font-size: 12px;
}
.headerbg .header .userinfo .userinfomain a {
  text-decoration: none;
}
.headerbg .header .userinfo .userinfomain p {
  margin: .5em 0;
}
.headerbg .header .userfollow {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 12px;
}
.headerbg .header .userfollow .left {
  margin: 0 5px;
  text-align: center;
}
.headerbg .header .userfollow .left p {
  margin: .5em 0;
}
.headerbg .header .userfollow .left p:nth-child(1) {
  font-weight: bold;
}
.navi {
  font-size: 16px;
  text-align: center;
  color: #666;
  height: 44px;
  font-family: 'Microsoft YaHei';
  margin-top: 25px;
  margin-bottom: 0;
}
.navi ul {
  height: 42px;
  line-height: 42px;
  display: inline-block;
}
.navi ul li {
  float: left;
  height: 42px;
  margin: 0 10px;
}
.navi ul li a {
  text-decoration: none;
  padding: 0 20px;
}
.navi ul li.current {
  font-weight: bold;
}
.usermain {
  /* @border-color:#999; */
  margin-top: 20px;
}
.usermain .left {
  width: 240px;
}
.usermain .left .userdiv {
  margin-bottom: 10px;
}
.usermain .right {
  width: 742px;
  min-height: 700px;
}
.usermain .information {
  color: #666;
  line-height: 20px;
}
.usermain .user_title {
  font-weight: bold;
  font-family: 'Microsoft YaHei';
  color: #666;
  padding: 5px 0;
}
.usermain .div_title {
  font-weight: bold;
  font-family: 'Microsoft YaHei';
  color: #666;
  padding: 5px 0;
}
.usermain .user_title:before {
  display: inline-block;
  height: 15px;
  width: 20px;
  overflow: hidden;
  background: url(img/menu_icon.png) no-repeat;
  background-position: -77px -133px;
  content: "";
}
.usermain .user_context {
  display: block;
  background: #fff;
  border: 1px solid #dcdcdc;
  color: #666;
  min-height: 20px;
  font-size: 12px;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.usermain .user_context .title {
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
.usermain .user_context .context {
  font-size: 12px;
  padding-left: .5em;
}
.usermain .user_context .context a {
  color: #2d7bcd;
}
.usermain .list {
  font-size: 12px;
  line-height: 22px;
}
.usermain .list li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.usermain .list li a {
  text-decoration: none;
}
.usermain .list li:hover a {
  color: #2d7bcd;
  text-decoration: underline;
}
.orgmain .mydata_praisebox {
  margin-top: 0;
}
.hidein {
  color: #2d7bcd;
  text-align: right;
}
.in_title {
  display: block;
  background: #fff;
  border: 1px solid #dcdcdc;
  font-size: 14px;
  color: #666;
  padding: 10px;
}
.in_title .title {
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
.in_title .context {
  font-size: 12px;
  padding-left: .5em;
}
.in_title .context a {
  color: #2d7bcd;
}
.followme {
  padding: 5px;
  text-align: center;
}
.followme a {
  display: inline-block;
  width: 200px;
  height: 28px;
  line-height: 30px;
  background: #999;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: .5em;
}
.followme a:hover {
  background: #2d7bcd;
}
.consult {
  height: 44px;
  line-height: 44px;
  text-align: center;
}
.consult a {
  background: #2d7bcd;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.list {
  margin-top: 3px;
}
.mydata_praisebox {
  padding: 10px;
  color: #666;
}
.mydata_praisebox .mydata_praisetitle {
  width: 48px;
  text-align: right;
  font-size: 12px;
  line-height: 34px;
  display: inline-block;
}
.mydata_praisebox .praise_percent {
  display: inline-block;
  height: 16px;
  width: 140px;
  border: 1px solid #d2d2d2;
  vertical-align: middle;
  line-height: 20px;
  padding: 1px;
}
.mydata_praisebox .praise_best {
  height: 16px;
  display: inline-block;
  background-color: #00CD00;
}
.mydata_praisebox .praise_well {
  height: 16px;
  display: inline-block;
  background-color: #ffc600;
}
.mydata_praisebox .praise_bad {
  height: 16px;
  display: inline-block;
  background-color: #ff0000;
}
.mydata_praisebox .praiseall_number,
.mydata_praisebox .best_num,
.mydata_praisebox .well_num,
.mydata_praisebox .bad_num {
  font-size: 12px;
}
.articlebox {
  padding: 10px;
  min-height: 350px;
}
.praisemain {
  display: block;
  background: #fff;
  border: 1px solid #dcdcdc;
  color: #666;
}
.praisemain .title {
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
.praisemain .context {
  font-size: 12px;
  padding-left: .5em;
}
.praisemain .context a {
  color: #2d7bcd;
}
.icon-iphone {
  display: inline-block;
  background: url(img/order_phone.png) no-repeat;
  padding-left: 15px;
  height: 20px;
}
.icon-ionline {
  display: inline-block;
  padding-left: 15px;
  height: 20px;
}
.icon-iface {
  display: inline-block;
  background: url(img/order_face.png) no-repeat;
  padding-left: 15px;
  height: 20px;
}
/*等级 认证*/
.expertiocn {
  height: 20px;
}
.expertiocn a {
  text-decoration: none;
}
.lv_num.l_v {
  background-position: 0px -563px;
}
.lv_num {
  vertical-align: -1px;
  display: inline-block;
  height: 18px;
  font-size: 0px;
  line-height: normal;
  width: 38px;
  background: url("img/lv_iocn.png") no-repeat scroll 0px -120px transparent;
}
/*用户等级*/
.lv_ico.color2 {
  background-position: 0 -15px;
}
.lv_ico.color3 {
  background-position: 0 -30px;
}
.lv_ico.color4 {
  background-position: 0 -45px;
}
.lv_num.l0 {
  background-position: 0 0px;
}
.lv_num.l1 {
  background-position: 0 -26px;
}
/*.lv_ico.color1 .lv_num.l1, .lv_num.l1b {background-position:0 -130px}*/
span.lv_num.l2 {
  background-position: 0 -53px;
}
.lv_num.l3 {
  background-position: 0 -80px;
}
.lv_num.l4 {
  background-position: 0 -107px;
}
.lv_num.l5 {
  background-position: 0 -134px;
}
.lv_num.l6 {
  background-position: 0 -161px;
}
.lv_num.l7 {
  background-position: 0 -188px;
}
/*.lv_ico.color2 .lv_num.l7, .lv_num.l7b {background-position:0 -200px}*/
.lv_num.l8 {
  background-position: 0 -215px;
}
.lv_num.l9 {
  background-position: 0 -242px;
}
.lv_num.l10 {
  background-position: 0 -269px;
}
.lv_num.l11 {
  background-position: 0 -296px;
}
.lv_num.l12 {
  background-position: 0 -323px;
}
.lv_num.l13 {
  background-position: 0 -350px;
}
.lv_num.l14 {
  background-position: 0 -377px;
}
/*.lv_ico.color3 .lv_num.l14, .lv_num.l14b {background-position:0 -280px}*/
.lv_num.l15 {
  background-position: 0 -404px;
}
.lv_num.l16 {
  background-position: 0 -431px;
}
.lv_num.l17 {
  background-position: 0 -458px;
}
.lv_num.l18 {
  background-position: 0 -485px;
}
.lv_num.l19 {
  background-position: 0 -512px;
}
.lv_num.l20 {
  background-position: 0 -539px;
}
/*专家徽章*/
.expert_medal_box {
  vertical-align: -2px;
  margin: 0 4px;
}
.expert_medal {
  display: inline-block;
  height: 18px;
  width: 26px;
  background: url(img/expert_logo.png);
  background-repeat: no-repeat;
}
.medal_western_medicine {
  background-position: top;
}
/*西医*/
.medal_chinese_medicine {
  background-position: 0 -23px;
}
/*中医*/
.medal_lawyer {
  background-position: 0 -46px;
}
/*律师*/
.medal_technician {
  background-position: 0 -69px;
}
/*技师*/
.medal_love {
  background-position: 0 -483px;
}
/*情感咨询*/
.medal_translate {
  background-position: 0 -115px;
}
/*翻译*/
.medal_IT {
  background-position: 0 -138px;
}
/*IT互联网*/
.medal_pet {
  background-position: 0 -161px;
}
/*宠物*/
.medal_agriculture {
  background-position: 0 -184px;
}
/*农业*/
.medal_car {
  background-position: 0 -207px;
}
/*汽车*/
.medal_design {
  background-position: 0 -230px;
}
/*设计传媒*/
.medal_consult {
  background-position: 0 -253px;
}
/*咨询商业*/
.medal_professor {
  background-position: 0 -276px;
}
/*教育*/
.medal_real_estate {
  background-position: 0 -299px;
}
/*房产*/
.medal_building {
  background-position: 0 -322px;
}
/*建筑交通*/
.medal_electron {
  background-position: 0 -345px;
}
/*数码通信*/
.medal_beauty {
  background-position: 0 -368px;
}
/*美容化妆*/
.medal_game {
  background-position: 0 -391px;
}
/*游戏动漫*/
.medal_art {
  background-position: 0 -414px;
}
/*文学艺术*/
.medal_e-commerce {
  background-position: 0 -437px;
}
/*电子商务*/
.medal_child {
  background-position: 0 -460px;
}
/*育儿孕妇*/
/*.medal_commercial{background-position:0 -200px;}商业*/
/*.medal_internet{background-position:0 -400px;}互联网*/
/*.medal_entertainment{background-position:0 -240px;}娱乐*/
/*.medal_tourism{background-position:0 -300px;}旅游*/
/*.medal_kindergarten_teacher{background-position:0 -320px;}幼教*/
/*.medal_sports{background-position:0 -380px;}体育运动*/
/*.medal_communication{background-position:0 -460px;}通信*/
/*.medal_traffic{background-position:0 -540px;}交通*/
/*.medal_health{background-position:0 -560px;}健康*/
/*.medal_fashion{background-position:0 -580px;}时尚购物*/
/*.medal_stay{background-position:0 -620px;}餐饮住宿*/
/*.medal_life{background-position:0 -660px;}家居生活*/
/*.medal_military{background-position:0 -680px;}军事*/
/*.medal_media{background-position:0 -700px;}传媒*/
/*.medal_make{background-position:0 -720px;}制造*/
/*.medal_high_teacher{background-position:0 -60px;}中学老师*/
/*.medal_default{background-position:0 -483px;}默认*/
/* Example One */
#example-one {
  position: relative;
}
#example-one li {
  display: inline-block;
}
#example-one a {
  float: left;
  text-decoration: none;
  text-transform: uppercase;
}
#example-one a:hover {
  color: #2d7bcd;
}
#magic-line {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100px;
  height: 2px;
  background: #2d7bcd;
}
.current_page_item a {
  color: #2d7bcd !important;
}
